#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.login {
  margin-top: 100px;
}
.login .card{
  background: rgba(0, 0, 0, .6);
}
.login button:hover{
  padding: 0px 40px;
}